*{
    margin: 0px;
    box-sizing: border-box;
    font-family: strial;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}
@font-face {
    font-family: strialBold;
    src: url(./font/SteradianTRIAL-Bd.woff);
  }
  @font-face {
    font-family: strial;
    src: url(./font/SteradianTRIAL-Rg.woff);
  }

.logo {
    height: 50px;
    width: 150px;
    background-repeat: no-repeat;
    background-image: url(./images/Quiz\ BiH.png);
    margin-top: 2vh;
}
.nav {
    font-family: strial;
    display: flex;
    width: auto;
    list-style: none;
    width: 20%;
    justify-content: space-between;
}
.login {
    margin-right: 10px;
    height: 34px;
    width: 109px;
    border: 0.5px solid #2559D2;
    color: #2559D2;
    border-radius: 5px;
}

.register {
    border-radius: 5px;
    height: 34px;
    width: 128px;
    background-color: #2559D2;
    color: white;
    border: 0.5px solid #2559D2;
}
